html,body {
  height: 100%;
  margin: 0px;
  background: #333;
  color: white;

  font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

#app {
  display: flex;
  height: 100%;
  margin: 0px;
  flex-direction: column;
}

#app a {
  text-decoration:none;
}

.header {
  height: 30px;
  width: 100%;
  position: fixed;
  background: #222;
  padding: 5px 10px 0px 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-mobile {
  display: none;
}

.playing a:hover{
  color: yellow;
}

.playing a {
  text-decoration:none;
  color: white;

}

.search {
  float: right;
  margin-right: 15px;
}

.body {
  flex: 1;
  display: flex;
  margin: 38px 1px 1px 1px;
}

.abstract {
  font-size: 14px;
  color: rgb(202, 202, 202);

  overflow: hidden;
  margin-bottom: 4px;
  padding: 4px 8px;

}

.abstract-time {
  float: right;
  margin-right: 5px;
}

.noplay-count {
  color: rgb(202, 202, 202);
}

.during-count {
  color: rgb(70, 155, 203);
}

.complete-count {
  color: rgb(142, 142, 142);
}


.noplay {
  background: rgb(102, 102, 102);
  color: white;
}

.during {
  background: rgb(20, 105, 153);
  color: white;
}

.complete {
  background: rgb(62, 62, 62);
  color: #777;
}

.row {
  flex: 1;
  font-size: 12px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.row-left {
  margin-right: 1px;
}

.row ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 2px;
}

.row .item {
  overflow: hidden;
  margin-top: 1px;
  padding: 4px 8px;

  cursor: pointer;

  border-redius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

.row .item:hover {
  color: yellow;
}

.row .item a {
  color: white;
}

.item-time {
  float: right;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 52px;
  }

  .header-mobile {
    display: block;
    float: right;
    margin-right: 12px;
  }

  .header-time, .search {
    display: none;
  }

  .body {
    margin: 60px 1px 1px 1px;
  }
}
